<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="nome_do_projeto" connectionString="Data Source=servidor_do_DB;
                          Initial Catalog=BancoAno;User Id=usuario_do_DB;Password=senha_de_Db;MultipleActiveResultSets=true;
                          App=Usando_Dapper;Connection Timeout=60" providerName="System.Data.SqlClient" />
 
  </connectionStrings>
</configuration>
